<ion-content no-bounce>
  <div class="login-form">
    <div class="heading-text">
      <div class="my-timesheets">
        My Timesheets
      </div>
      <div class="sign-in-to-system">
        Sign in to System
      </div>
    </div>
    <div class="username">
      <input type="text" placeholder="Username or Email">
    </div>
    <div class="password">
      <input type="text" placeholder="Password">
    </div>
    <div class="save-credentials">
      Save credentials
    </div>
    <div class="sign-in" routerLink="/landing">
      Sign In
    </div>
  </div>
  </ion-content>